.square {
    background-color: aqua;
    height: 30px;
    width: 30px;
}

.row {
    display: flex;
}

#container {
    border: 5px solid #6c2e79; 
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height: 100vh;
    margin: 0;
    background-color: #4c2155;
}

button {
    background-color: #bc96c4;
    border: 0;
    padding: 10px;
    border-radius: 5px;
}